*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    width: 100%;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a{
    list-style: none;
    text-decoration: none;
    color: #000;
    transition: .2s;
}

a:hover{
    transform: scale(1.1);
}
a.active{
    text-decoration: underline;
}

body{
    background-color: #E4E1E1;
}